/*style for Mr. Crandall's blog*/
/*
    font-family: 'Questrial', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
*/
/*reset*/
html,body,div,h1,h2,h3,h4,h5,p,ul,ol,li
{
    
    margin:0;
    padding:0;
}
/* universal style*/

body{
    background-color: darkgrey;
    
}
div#container{
    display:flex;
    flex-direction: column;
    margin:auto;
    width:100%;
    background-color:#ffffff;
    font-family: 'PT Sans Narrow', sans-serif;

}
header#blogheader{
   display: flex;
  align-self:flex-end;
      width:100%;
    height:300px;
     font-family: 'Questrial', sans-serif;
    text-align:center;
    background-color: navajowhite;
    font-size:3em;
}
/* blog post*/
div#blogpost{
display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    background-color: aliceblue;   
    box-shadow: 3px 3px 3px black;
    margin: 15px 0;
    padding:10px;
}
img#postimg{
   align-self: center;
    display: block;
    width:150px;
    height:150px;
    background-color:black;
    margin:5px; 
}
div#postbody{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin:0 5px;
}
h2#posttitle{
    align-self:auto;
    color:crimson;
}
h5#poststamp{
    color:#808080;
}
p#posttext{
    font-size:1.2em;
    color: blue;
}
