
    /*font-family: 'Forum', cursive;
    font-family: 'Yantramanav', sans-serif;*/
@media only screen and(orientation:landscape){
    
}
@media only screen and(orientation:portrait){
    
}
@media only screen and (max-width: 600px){
    body{
    background-color: red;
    }
    nav a(:first-child){display: none;}
    nav a.icon {
        float:right;
        display: block;
    }
@media screen
}


@media only screen and (min-width: 600px){
    body{
    background-color: orange;
    }
}
/*
@media only screen and (min-width: 768px){
    Body{
        background-color: purple;}
}

@media only screen and (min-width: 992px){
    Body{
    background-color: green;
    }
}

@media only screen and (min-width: 1200px){
    Body{
    background-color:grey;}
}
*/



div#container{
  background-color: #FF263D;
}
header{
    background-color: #71FF65;
}
header h1{
   text-align: center
}
nav {
    background-color: #5CCC0A;
     overflow: hidden;
}
nav a {
    float: left;
    display:block;
    color: ##FF263D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: antiquewhite;
    color:aqua;
}
active{
  background-color:#994426;
color: aliceblue
}
nav .icon{
    display: none;
}
/*front page image*/
img#pom{
    margin 15px;
    float: left;
    max-width: 100%;
    height: auto;
}
footer{
   background-color:#994426;
}